# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: name-tests-test
      - id: requirements-txt-fixer
      - id: pretty-format-json
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2   # (or latest release)
    hooks:
      - id: pyupgrade
        args: [--py312-plus]

  - repo: https://github.com/twisted/towncrier
    rev: 25.8.0  # Mettre à jour avec la dernière version si nécessaire
    hooks:
      - id: towncrier-update
        files: changelog\.d/  # Répertoire où sont stockés les fragments de nouvelles
        args: ['--keep']  # Conserve les fragments après traitement
